@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PretendardVariable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./font/PretendardVariable.woff2') format('woff2-variations');
}


:root {
  --foreground-rgb: 0, 0, 0;
  margin: 0;
  font-family: "PretendardVariable";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
